/venv/
.idea/
.DS_Store
__pycache__/*
__pycache__
*.pyc
media/cache
debug.log
cache/
/script/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
**/.DS_Store
data.json
/media/